<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- For this assignment, I'm reusing code from the Dojos and Ninjas CRUD assignment so that I can focus on implementing the many-to-many functionality -->
    <nav class="navbar bg-light">
        <div class="container d-flex justify-content-start">
            <a class="navbar-brand" href="/authors">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                </svg>
                Authors & Books
            </a>
            <div class="navbar-nav">
                <a href="/authors" class="nav-link active">Home</a>
            </div>
        </div>
    </nav>
    <div class="row justify-content-center my-4">
        <div class="container me-3 col-lg-4">
            <div class="container border border-secondary text-dark justify-content-start p-4">
                <h2 class="mb-4">Add an Author</h2>
                <form action="/authors/add" method="post" class="justify-content-start">
                    <div class="d-flex flex-row align-items-center mb-4">
                        <label for="name" class="form-label me-2 my-auto">Name:</label>
                        <input name="name" type="text" class="form-control" placeholder="e.g., James Baldwin">
                    </div>
                    <button class="btn btn-primary btn-outline-dark text-white">Add</button>
                </form>
            </div>
        </div>
        <div class="container ms-3 col-lg-4 p-4">
            <h1 class="mb-4">All Authors</h1>
            <table class="table table-striped table-hover table-bordered">
                <tbody class="text-center">
                    {% if authors %}
                        {% for author in authors %}
                            <tr>
                                <td><a href="/authors/{{ author.id }}">{{ author.name }}</a></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>---</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            <a href="/books" class="btn btn-warning btn-outline-dark mt-4">Add Book</a>
        </div>
    </div>
</body>
</html>